body {
  text-align: center;
  color: white;
  background-color: black;
}

  .here {
    margin: 0 auto;
    width: 400px;
    border: 20px solid red;
    margin: 20px auto;
  }

  a:link {
      text-decoration: none;
  }


  .facts {
    border: 20px solid blue;
    display: inline-flex;
    margin: 10px auto;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .fools {
    border: 20px solid white;
    display: inline-flex;
    margin: 10px auto;
    margin-bottom: 20px;
    font-family: cursive;

  }


  .sad {
  border: 20px solid green;
  display: block;
  margin-bottom: 20px;
display: inline-flex;
font-size: 50px;
font-weight: bold;
font-family: Helvetica sans-serif;

  }

h1 {
  display: inline-flex;
  color: pink;
  font-weight: bold;
  font-size: 70px;
  font-family: Helvetica;
    border: 20px solid coral;
    margin: auto;
    margin-top: 80px;
}

h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  display: block;
}
.navigation ul {
display: flex;
  margin: auto;
width: 100%;
  text-align: center;
    border: 20px solid yellow;
    font-weight: bold;
    color: pink;
    font-size: 20px;
    background-color: aqua;
    list-style: none;
    position: fixed;

}
.news a:hover {
  text-decoration: none;
  border: 1px solid LightGrey;
text-align: center;
    padding: 2px 0px;
    margin: 0 auto;
    width: 6%;
}
.politics {
  border: 1px solid LightGrey;
padding: 2px 0px;
    margin: 0 auto;
    width: 8%;
    text-align: center;
}


.business {
  border: 1px solid LightGrey;
  padding: 2px 0px;
    margin: 0 auto;
    width: 10%;
    text-align: center;
  }

.view {
  border: 1px solid LightGrey;
padding: 2px 0px;
    margin: 0 auto;
    width: 6%;
    text-align: center;

}
.blogs {
  border: 1px solid LightGrey;

    padding: 2px 0px;
    margin: 0 auto;
    width: 6%;
    text-align: center;

}
.living {
  border: 1px solid LightGrey;
padding: 2px 0px;
    margin: 0 auto;
    width: 8%;
    text-align: center;
}

.info {
  border: 20px solid orange;
  display: inline-flex;
  margin: 0 auto;
}

.footer {
  display: flex;
    margin: auto;
    text-align: center;
      border: 20px solid purple;
      font-weight: bold;
      font-size: 20px;
      background-color: coral;
      list-style: none;
      justify-content: space-between;
}

.phone {
border: 1px solid LightGrey;
margin: 1px auto;
display: flex;
}
.email {
border: 1px solid LightGrey;
margin: 1px auto;
display: flex;
}
.twitter {
border: 1px solid LightGrey;
margin: 1px auto;
display: flex;

}
